@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap');

/*BASIC STYLES*/
html {
    width: 100%;
    height: 100%;
    font-family: "Delicious Handrawn";
}

body {
    margin: 0;
    height: 100vh;
}

p {
    font-size: 20px;
   
}

h3 {
    font-size: 25px;
}

.square-bullets {
    list-style-type: square;
}

/*STYLES BOOK BACKGROUND*/
.bookStyling {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    box-sizing: border-box;
    padding-left: 6%;
    padding-right: 6%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.bookStyling .backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.bookStyling .backdropAlt {
    position: absolute;
    height: 150%;
    width: 50%;
    aspect-ratio: 317/416;
}

/*NAVBAR STYLING*/
header {
    padding: auto;
    border: 5px solid;
    width: 12%;
    height: 919px;
    background-color: grey;
    border-color: grey;
    border-radius: 20px;
}

.bg-grey {
    background-color: black;
}

.rounded-md {
    border-radius: 20px;
}

.nav_list {
    list-style: none;
    display: absolute;
}

.nav_item {
    padding: 1.5em;
    border: 5px solid;
    text-align: center;
    border-color: #F9CE6B;
    background-color: #F9CE6B;
    border-radius: 20px;
    margin-bottom: 1em;
    margin-right: 2.5em;
    transition: all ease 0.5s;
}

.nav_link {
    text-decoration: none;
    color: black;
    font-size: 1.5em
}

.nav_item:hover {
    background-color: white;
}

.size-full {
    width:100%;
    height: 100%;
}

.w-full {
    width: 100%;
}

.h-full {
    height: 100%;
}

/*RICHARD's INPUT, BUNCH OF FLEXBOX STUFF SO OUR LAYOUT ACTUALLY WORKS*/
.flex {
    display: flex;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.items-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.box-border {
    box-sizing: border-box;
}

.overflow-y-scroll {
    overflow-y: scroll;
}

.no-scrollbar {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.no-scrollbar::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

/*KEEPS HR TAGS FROM GOING OFF THE PAGE*/
hr {
    width: 95%;
    height: 1%;
    background-color: #F9CE6B;
    color: black;
}

/*ALLOWS WORDS TO STAY ON PAGE*/
.bookStyling > section {
    width: 100%;
    height: 100%;
    max-width: 150%;
    max-height: 150%;
    word-wrap: break-word;
    z-index: 2;
}

/* ------------- */

/*THESE ARE USELES AT THE MOMENT, PURELY TO MAKE SURE STUFF STAYS IN THE PAGES*/
.part {
    opacity: 1;
}

.part2 {
    opacity: 1;
}


/*STYING FOR FRONT AND BACK OF BOOK*/
.bookStyling .coverStyling {
    width: 55%;
    height: 150%;
    max-width: 150%;
    max-height: 150%;
    word-wrap: break-word;
    z-index: 2;
}

.bookStyling > section p {
    width: 100%;
    overflow-wrap: anywhere;
}

.bookCoverStyling {
    line-height: 1.5 ;
    background-clip: text;
    background: linear-gradient(180deg, rgb(255, 228, 118), rgb(255, 204, 102));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-stroke-width: 0.6px;
    -webkit-text-stroke-color: rgb(87, 58, 0);
    text-align: center;
}

.altH2Size {
    font-size: 30px;
}

h1 {
    font-size: 65px;
}

.fruitsImage {
    margin-top:10%;
    width: 100%;
    height: 40%;
    z-index: 4
}

/*MARGINS TO MOVE TEXT AROUND ON PAGES*/
.margin_left {
    margin-left: 3%;
}

.margin_right {
    margin-right: 3%;
}
.margin_top {
    margin-top: 3%;
}

/*STYLING FOR OUR LOGO*/
.logo_img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    height: 25%;
    padding: 5em;
    margin: -2em;
}

/*EFFECTS NAVBAR LINKS, MAKES THE ENTIRE BOX CLICKABLE*/
a {
    display: inline-block;
    position: relative;
    z-index: 1;
    padding: 2em;
    margin: -2em;

}

/*SIZES VIDEOS*/
iframe {
    width: 560;
    height: 315;
}

/*AUDIO STYLING*/
audio {
    margin-left: 5%;
    margin-top: 5%;
    width: 85%;
    height: 5%;
}

/*MAKE IMAGES LOOK ROUND AND CENTERED*/
.imageRounded {
    border-radius: 50%;
}

.imageCentered {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
